vendor/
data*/
profile/
blockbook
notes.txt
debug*
.vscode
docker/blockbook
build/pkg-defs
build/blockbook
build/blockchaincfg.json
build/ldb
build/sst_dump
build/*.deb
.bin-image
.deb-image
\.idea/
__debug*