{{define "addressChainExtra"}}{{$addr := .Address}}{{$data := .}}{{$chainExtra := accountChainExtra $addr}}
{{if $chainExtra}}
<tr>
    <td style="white-space: nowrap;"><h5>Resources</h5></td>
    <td></td>
</tr>
<tr>
    <td>Staked Bandwidth</td>
    <td>{{formatInt64 $chainExtra.AvailableStakedBandwidth}} / {{formatInt64 $chainExtra.TotalStakedBandwidth}}</td>
</tr>
<tr>
    <td>Free Bandwidth</td>
    <td>{{formatInt64 $chainExtra.AvailableFreeBandwidth}} / {{formatInt64 $chainExtra.TotalFreeBandwidth}}</td>
</tr>
<tr>
    <td>Energy</td>
    <td>{{formatInt64 $chainExtra.AvailableEnergy}} / {{formatInt64 $chainExtra.TotalEnergy}}</td>
</tr>
{{end}}
{{end}}
