{{define "specific"}}{{$cs := .CoinShortcut}}{{$asset := .Asset}}{{$data := .}}
<h1>Asset <small class="text-muted">{{formatDecodeBase64 $asset.AssetDetails.Symbol}}</small></h1>
<div class="alert alert-data ellipsis">
    <span class="data">{{$asset.AssetDetails.AssetGuid}}</span>
</div>
<h3>Details</h3>
<div class="data-div row">
    <div class="col-lg-10">
        <table class="table data-table">
            <tbody>
                {{- if $asset.AssetDetails.PubData.desc -}}
                <tr>
                    <td>Description</td>
                    <td class="data">{{formatDecodeBase64 $asset.AssetDetails.PubData.desc}}</td>
                </tr>
                {{- end -}}
                <tr>
                    <td>Transactions</td>
                    <td class="data">{{$asset.Txs}}</td>
                </tr>
                <tr>
                    <td>ERC20 Contract</td>
                    <td class="data"><a href="https://etherscan.io/address/{{$asset.AssetDetails.Contract}}">{{$asset.AssetDetails.Contract}}</a></td>
                </tr>
                <tr>
                    <td>Total Supply</td>
                    <td class="data">{{formatAmountWithDecimals $asset.AssetDetails.TotalSupply $asset.AssetDetails.Decimals}} {{formatDecodeBase64 $asset.AssetDetails.Symbol}}</td>
                </tr>
                <tr>
                    <td>Max Supply</td>
                    <td class="data">{{formatAmountWithDecimals $asset.AssetDetails.MaxSupply $asset.AssetDetails.Decimals}} {{formatDecodeBase64 $asset.AssetDetails.Symbol}}</td>
                </tr>
                <tr>
                    <td>Decimals</td>
                    <td class="data">{{$asset.AssetDetails.Decimals}}</td>
                </tr>
                <tr>
                        <td>Capability Flags</td>
                        <td style="padding: 0;">
                            <table class="table data-table">
                                <tbody>
                                    <tr>
                                        <th>Flag</th>
                                        <th>Set</th>
                                    </tr>
                                    {{- range $f := $data.AssetUpdateCapabilityFlags -}}
                                    <tr>
                                        <td title="{{$f.Description}}" class="data">{{$f.Value}}</td>
                                        <td class="data">
                                            {{if isAssetUpdateCapabilityFlagSet $data $f.Value $asset.AssetDetails.UpdateCapabilityFlags}}
                                            <span title="{{$f.Description}}" class="text-success">✔</span>
                                            {{else}}
                                            <span title="{{$f.Description}}" class="text-danger">✘</span>
                                            {{end}}
                                        </td>
                                    </tr>
                                    {{- end -}}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{- if $asset.AssetDetails.AuxFeeDetails -}}
                <tr>
                    <td>Aux Fees</td>
                    <td style="padding: 0;">
                        <table class="table data-table">
                            <tbody>
                                <tr>
                                    <th>Address</th>
                                    <th>Bound</th>
                                    <th>Percentage</th>
                                </tr>
                                {{- range $f := $asset.AssetDetails.AuxFeeDetails.AuxFees -}}{{- if $f -}}
                                <tr>
                                    <td class="data ellipsis"><a href="/address/{{formatKeyID $asset.AssetDetails.AuxFeeDetails.AuxFeeKeyID}}">{{formatKeyID $asset.AssetDetails.AuxFeeDetails.AuxFeeKeyID}}</a></td>
                                    <td class="data">{{formatAmountWithDecimals $f.Bound $asset.AssetDetails.Decimals}} {{formatDecodeBase64 $asset.AssetDetails.Symbol}}</td>
                                    <td class="data">{{formatPercentage ($f.Percent)}}</td>
                                </tr>
                                {{- end -}}{{- end -}}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {{- end -}}
                {{- if $asset.AssetDetails.NotaryDetails -}}
                <tr>
                    <td>Notarization</td>
                    <td style="padding: 0;">
                        <table class="table data-table">
                            <tbody>
                                <tr class="ellipsis">
                                    <th>Address</th>
                                    <th>Endpoint</th>
                                    <th>Instant Transfers</th>
                                    <th>HD Required</th>
                                </tr>
                                <tr>
                                    <td class="data ellipsis"><a href="/address/{{formatKeyID $asset.AssetDetails.NotaryKeyID}}">{{formatKeyID $asset.AssetDetails.NotaryKeyID}}</a></td>
                                    <td class="data ellipsis">{{formatDecodeBase64 $asset.AssetDetails.NotaryDetails.EndPoint}}</td>
                                    <td class="data">
                                            {{if $asset.AssetDetails.NotaryDetails.InstantTransfers}}
                                            <span title="Instant transfers by locking inputs through notarization" class="text-success">✔</span>
                                            {{else}}
                                            <span title="Instant transfers disabled, use ZDAG and other decentralized means of assuring double-spend protection" class="text-danger">✘</span>
                                            {{end}}
                                    </td>
                                    <td class="data">
                                            {{if $asset.AssetDetails.NotaryDetails.HDRequired}}
                                            <span title="HD wallet XPUB keys required to ensure tracking of accounts over change addresses" class="text-success">✔</span>
                                            {{else}}
                                            <span title="HD wallet verification disabled" class="text-danger">✘</span>
                                            {{end}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                {{- end -}}
            </tbody>
        </table>
    </div>
    <div class="col-lg-2">
        <div id="qrcode" style="width: 160px; height: 160px; float: right; padding-left: 10px;"></div>
        <script type="text/javascript" src="/static/js/qrcode.min.js"></script>
        <script type="text/javascript">
            new QRCode(document.getElementById("qrcode"), { text: "{{$asset.AssetDetails.AssetGuid}}", width: 160, height: 160 });
        </script>
    </div>
</div>
{{- if $asset.UnconfirmedTxs -}}
<h3>Unconfirmed</h3>
<div class="data-div">
    <table class="table data-table">
        <tbody>
            <tr>
                <td>No. Transactions</td>
                <td class="data">{{$asset.UnconfirmedTxs}}</td>
            </tr>
        </tbody>
    </table>
</div>
{{- end}}{{if or $asset.Transactions $asset.Filter -}}
<div class="row h-container">
    <h3 class="col-md-3">Transactions</h3>
    <select class="col-md-2" style="background-color: #eaeaea;" onchange="self.location='?filter='+options[selectedIndex].value">
        <option>All</option>
        <option {{if eq $asset.Filter "token-transfers" -}} selected{{end}} value="token-transfers">Transfers</option>
        <option {{if eq $asset.Filter "non-token-transfers" -}} selected{{end}} value="non-token-transfers">Non-Transfers</option>
    </select>
    <div class="col-md-7">
        <nav>{{template "paging" $data}}</nav>
    </div>
</div>
<div class="data-div">
    {{- range $tx := $asset.Transactions}}{{$data := setTxToTemplateData $data $tx}}{{template "txdetail" $data}}{{end -}}
</div>
<nav>{{template "paging" $data }}</nav>
{{end}}{{end}}