<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main2.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Trezor {{.CoinLabel}} Explorer">
    <title>Trezor {{.CoinLabel}} Explorer</title>
    <script type="text/javascript">
        function syntaxHighlight(json) {
            json = JSON.stringify(json, undefined, 2);
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
        window.onload=()=>{
            document.querySelectorAll('[tt]').forEach(e=>new bootstrap.Tooltip(e,{title:e.getAttribute("tt")}));
            document.querySelectorAll("#header .bb-group>.btn-check").forEach(e=>e.addEventListener('click',e=>console.log("clicked",e.target.id)));
            document.querySelectorAll('.copyable').forEach(e=>e.addEventListener('click',e=>{
                console.log("clicked",e.clientX<e.target.getBoundingClientRect().x,e.offsetX, e.clientX, e.target.getBoundingClientRect(), e);
                if(e.clientX<e.target.getBoundingClientRect().x){
                    let t=e.target.getAttribute("copy-content");
                    if(!t) t=e.target.innerText;
                    navigator.clipboard.writeText(t);
                    e.target.className=e.target.className.replace('copyable','copied');
                    setTimeout(()=>e.target.className=e.target.className.replace('copied','copyable'),1000);
                    e.preventDefault();
                }
            }));
        }
    </script>
</head>

<body>
    <header id="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/" title="Home">
                    <span class="trezor-logo"></span>
                    <span style="padding-left: 140px;">{{.CoinLabel}} Explorer</span>
                </a>
                {{if .InternalExplorer}}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-md-auto">
                        <li class="nav-item pe-xl-4">
                            <a href="/blocks" class="nav-link">Blocks</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">Status</a>
                        </li>
                    </ul>
                    <span class="navbar-form">
                        <form class="d-flex" id="search" action="/search" method="get">
                            <input name="q" type="text" class="form-control form-control-lg" placeholder="Search for block, transaction, address or xpub" focus="true">
                            <button class="btn" type="submit">
                                <span class="search-icon"></span>
                            </button>
                        </form>
                    </span>
                    <div class="bb-group ms-lg-2 mt-2 mt-lg-0" role="group" aria-label="Currency switch">
                        <input type="radio" class="btn-check" name="btnradio" id="primary-currency" autocomplete="off" checked>
                        <label class="btn" for="primary-currency">tGOR</label>
                        <input type="radio" class="btn-check" name="btnradio" id="secondary-currency" autocomplete="off">
                        <label class="btn" for="secondary-currency">USD</label>
                    </div>
                </div>
                {{end}}
            </div>
        </nav>
    </header>
    <main id="wrap">
        <div class="container">
            {{- template "specific" . -}}
        </div>
    </main>
    <footer id="footer">
        <div class="container">
            <nav class="navbar navbar-dark">
                <span class="navbar-nav">
                    <a class="nav-link" href="https://satoshilabs.com/" target="_blank" rel="noopener noreferrer">©2022 SatoshiLabs</a>
                </span>
                <span class="navbar-nav ml-md-auto">
                    <a class="nav-link" href="{{- .TOSLink -}}" target="_blank" rel="noopener noreferrer">Terms of Use</a>
                </span>
                <span class="navbar-nav ml-md-auto d-md-flex d-none">
                    <a class="nav-link" href="https://trezor.io/" target="_blank" rel="noopener noreferrer">Trezor</a>
                </span>
                <span class="navbar-nav ml-md-auto d-md-flex d-none">
                    <a class="nav-link" href="https://suite.trezor.io/" target="_blank" rel="noopener noreferrer">Suite</a>
                </span>
                <span class="navbar-nav ml-md-auto d-md-flex d-none">
                    <a class="nav-link" href="https://trezor.io/support" target="_blank" rel="noopener noreferrer">Support</a>
                </span>
                <span class="navbar-nav ml-md-auto">
                    <a class="nav-link" href="/sendtx">Send Transaction</a>
                </span>
                <span class="navbar-nav ml-md-auto d-lg-flex d-none">
                    <a class="nav-link" href="http://shop.trezor.io" target="_blank" rel="noopener noreferrer">Don't have a Trezor? Get one!</a>
                </span>
            </nav>
        </div>
    </footer>
</body>

</html>