<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.5.2.2.min.css">
    <link rel="icon" href="{{.Branding.FaviconURL}}">
    <link rel="stylesheet" href="/static/css/main{{.Minified}}.css">
    <script>var hasSecondary={{if .SecondaryCoin}}true{{else}}false{{end}};</script>
    <script src="/static/js/bootstrap.bundle.5.2.2.min.js"></script>
    <script src="/static/js/main{{.Minified}}.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{.Branding.BrandName}} {{.CoinLabel}} Explorer">
    <title>{{.Branding.BrandName}} {{.CoinLabel}} Explorer</title>
</head>

<body>
    <header id="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/" title="Home">
                    <span class="trezor-logo" style="width: {{.Branding.LogoWidthPx}}px; background-image: url({{.Branding.LogoURL}});"></span>
                    <span style="padding-left: {{.Branding.LogoRightPaddingPx}}px;">{{.CoinLabel}} Explorer</span>
                </a>
                {{if .InternalExplorer}}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-md-auto">
                        <li class="nav-item pe-xl-4">
                            <a href="/blocks" class="nav-link">Blocks</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">Status</a>
                        </li>
                    </ul>
                    <span class="navbar-form">
                        <form class="d-flex" id="search" action="/search" method="get">
                            <input name="q" type="text" class="form-control form-control-lg" placeholder="Search for block, transaction, address or xpub" focus="true">
                            <button class="btn" type="submit">
                                <span class="search-icon"></span>
                            </button>
                        </form>
                    </span>
                    {{if .SecondaryCoin}}
                    <div class="bb-group ms-lg-2 mt-2 mt-lg-0" role="group" aria-label="Currency switch">
                        <input type="radio" class="btn-check" name="btnradio" id="primary-coin" autocomplete="off"{{if not .UseSecondaryCoin}} checked{{end}}>
                        <label class="btn" for="primary-coin">{{.CoinShortcut}}</label>
                        <input type="radio" class="btn-check" name="btnradio" id="secondary-coin" autocomplete="off"{{if .UseSecondaryCoin}} checked{{end}}>
                        <label class="btn" for="secondary-coin">{{.SecondaryCoin}}</label>
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <div class="dropdown-menu row">
                            {{range $c := .SecondaryCurrencies}}
                            <div class="col-3"><a href="?secondary={{$c}}&use_secondary=true">{{$c}}</a></div>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
                {{end}}
            </div>
        </nav>
    </header>
    <main id="wrap">
        <div class="container">
            {{- template "specific" . -}}
        </div>
    </main>
    <footer id="footer">
        <div class="container">
            <nav class="navbar navbar-dark">
                {{- if and .Branding.Footer.CreatedByLabel .Branding.Footer.CreatedByHref}}
                <span class="navbar-nav ">
                    <a class="nav-link" href="{{.Branding.Footer.CreatedByHref}}" target="_blank" rel="noopener noreferrer">{{.Branding.Footer.CreatedByLabel}}</a>
                </span>
                {{- end}}
                {{- if .Branding.Footer.TermsLabel}}
                <span class="navbar-nav ml-md-auto">
                    <a class="nav-link" href="{{.Branding.TOSLink}}" target="_blank" rel="noopener noreferrer">{{.Branding.Footer.TermsLabel}}</a>
                </span>
                {{- end}}
                {{- if and .Branding.Footer.BrandLabel .Branding.Footer.BrandHref}}
                <span class="navbar-nav ml-md-auto d-md-flex d-none">
                    <a class="nav-link" href="{{.Branding.Footer.BrandHref}}" target="_blank" rel="noopener noreferrer">{{.Branding.Footer.BrandLabel}}</a>
                </span>
                {{- end}}
                {{- if and .Branding.Footer.SuiteLabel .Branding.Footer.SuiteHref}}
                <span class="navbar-nav ml-md-auto d-md-flex d-none">
                    <a class="nav-link" href="{{.Branding.Footer.SuiteHref}}" target="_blank" rel="noopener noreferrer">{{.Branding.Footer.SuiteLabel}}</a>
                </span>
                {{- end}}
                {{- if and .Branding.Footer.SupportLabel .Branding.Footer.SupportHref}}
                <span class="navbar-nav ml-md-auto d-md-flex d-none">
                    <a class="nav-link" href="{{.Branding.Footer.SupportHref}}" target="_blank" rel="noopener noreferrer">{{.Branding.Footer.SupportLabel}}</a>
                </span>
                {{- end}}
                {{- if and .Branding.Footer.SendTxLabel .Branding.Footer.SendTxHref}}
                <span class="navbar-nav ml-md-auto">
                    <a class="nav-link" href="{{.Branding.Footer.SendTxHref}}"{{if not (hasPrefix .Branding.Footer.SendTxHref "/")}} target="_blank" rel="noopener noreferrer"{{end}}>{{.Branding.Footer.SendTxLabel}}</a>
                </span>
                {{- end}}
                {{- if and .Branding.Footer.PromoLabel .Branding.Footer.PromoHref}}
                <span class="navbar-nav ml-md-auto d-lg-flex d-none">
                    <a class="nav-link" href="{{.Branding.Footer.PromoHref}}" target="_blank" rel="noopener noreferrer">{{.Branding.Footer.PromoLabel}}</a>
                </span>
                {{- end}}
            </nav>
        </div>
    </footer>
</body>

</html>