<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Trezor {{.CoinLabel}} Explorer">
    <title>Trezor {{.CoinLabel}} Explorer</title>
</head>

<body>
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-trezor">
                <a class="navbar-brand" href="/" title="Home">
                    <div alt="Trezor Wallet" style="margin-top: 3px;">
                        <svg width="100" version="1.1" id="logotyp" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 163.7 41.9" space="preserve">
                            <polygon points="101.1,12.8 118.2,12.8 118.2,17.3 108.9,29.9 118.2,29.9 118.2,35.2 101.1,35.2 101.1,30.7 110.4,18.1 101.1,18.1"></polygon>
                            <path d="M158.8,26.9c2.1-0.8,4.3-2.9,4.3-6.6c0-4.5-3.1-7.4-7.7-7.4h-10.5v22.3h5.8v-7.5h2.2l4.1,7.5h6.7L158.8,26.9z M154.7,22.5h-4V18h4c1.5,0,2.5,0.9,2.5,2.2C157.2,21.6,156.2,22.5,154.7,22.5z"></path>
                            <path d="M130.8,12.5c-6.8,0-11.6,4.9-11.6,11.5s4.9,11.5,11.6,11.5s11.7-4.9,11.7-11.5S137.6,12.5,130.8,12.5z M130.8,30.3c-3.4,0-5.7-2.6-5.7-6.3c0-3.8,2.3-6.3,5.7-6.3c3.4,0,5.8,2.6,5.8,6.3C136.6,27.7,134.2,30.3,130.8,30.3z"></path>
                            <polygon points="82.1,12.8 98.3,12.8 98.3,18 87.9,18 87.9,21.3 98,21.3 98,26.4 87.9,26.4 87.9,30 98.3,30 98.3,35.2 82.1,35.2"></polygon>
                            <path d="M24.6,9.7C24.6,4.4,20,0,14.4,0S4.2,4.4,4.2,9.7v3.1H0v22.3h0l14.4,6.7l14.4-6.7h0V12.9h-4.2V9.7z M9.4,9.7c0-2.5,2.2-4.5,5-4.5s5,2,5,4.5v3.1H9.4V9.7z M23,31.5l-8.6,4l-8.6-4V18.1H23V31.5z"></path>
                            <path d="M79.4,20.3c0-4.5-3.1-7.4-7.7-7.4H61.2v22.3H67v-7.5h2.2l4.1,7.5H80l-4.9-8.3C77.2,26.1,79.4,24,79.4,20.3z M71,22.5h-4V18h4c1.5,0,2.5,0.9,2.5,2.2C73.5,21.6,72.5,22.5,71,22.5z"></path>
                            <polygon points="40.5,12.8 58.6,12.8 58.6,18.1 52.4,18.1 52.4,35.2 46.6,35.2 46.6,18.1 40.5,18.1"></polygon>
                        </svg>
                    </div>
                </a>
                <a class="navbar-brand" href="/">
                    {{.CoinLabel}} Explorer
                </a>
                <button class="navbar-toggler" type="button" onclick="if(document.getElementById('toggler').className.indexOf('show')>0){document.getElementById('toggler').className='navbar-collapse collapse'}else{document.getElementById('toggler').className='navbar-collapse show'}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="toggler">
                    {{- if .InternalExplorer -}}
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a href="/blocks" class="nav-link">Blocks</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">Status</a>
                        </li>
                    </ul>
                    <span class="navbar-form ml-md-auto">
                        <form id="search" action="/search" method="get">
                            <input name="q" type="text" class="form-control" placeholder="Search for block, transaction, address or xpub" focus="true">
                        </form>
                    </span>
                    {{- end -}}
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a href="https://trezor.io/" class="nav-link">Trezor</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://wallet.trezor.io/" class="nav-link">Wallet</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://trezor.io/support" class="nav-link">Support</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main id="wrap">
        <div class="container">
            {{- template "specific" . -}}
        </div>
    </main>
    <footer id="footer" class="footer">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-trezor">
                <span class="navbar-nav">
                    <a class="nav-link" href="https://satoshilabs.com/" target="_blank" rel="noopener noreferrer">© 2021 SatoshiLabs</a>
                </span>
                <span class="navbar-nav ml-md-auto">
                    <a class="nav-link" href="{{- .TOSLink -}}" target="_blank" rel="noopener noreferrer">Terms</a>
                </span>
                <span class="navbar-nav ml-md-auto">
                    <a href="/sendtx" class="nav-link">Send Transaction</a>
                </span>
                <span class="navbar-nav ml-md-auto d-md-flex d-none">
                    <a class="nav-link active" rel="noopener noreferrer" href="http://shop.trezor.io">Don't have a Trezor? Get one!</a>
                </span>
            </nav>
        </div>
    </footer>
</body>

</html>
