{{define "specific"}}{{$blocks := .Blocks}}{{$data := .}}
<h1>Blocks
    <small class="text-muted">by date</small>
</h1>
{{if $blocks.Blocks -}}
<nav>{{template "paging" $data }}</nav>
<div class="data-div">
    <table class="table table-striped data-table table-hover">
        <thead>
            <tr>
                <th>Height</th>
                <th>Timestamp</span></th>
                <th class="text-right">Transactions</th>
                <th class="text-right">Size</th>
            </tr>
        </thead>
        <tbody>
            {{- range $b := $blocks.Blocks -}}
            <tr>
                <td><a href="/explorer/block/{{$b.Height}}">{{$b.Height}}</a></td>
                <td>{{formatUnixTime $b.Time}}</td>
                <td class="text-right">{{$b.Txs}}</td>
                <td class="text-right">{{$b.Size}}</td>
            </tr>
            {{- end -}}
        </tbody>
    </table>
</div>
<nav>{{template "paging" $data }}</nav>
{{end}}{{end}}