{{define "specific"}}
<h1>Transaction</h1>
<div class="alert alert-secondary">
    <strong>
        <span>Transaction</span>
    </strong>
    <span class="text-muted">{{.Txid}}</span>
</div>
<h2>Summary</h2>
<div class="value-group">
    <div class="row">
        <div class="col-md-4">Mined Time</div>
        <div class="col-md-8 text-muted">{{formatUnixTime .Blocktime}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">In Block</div>
        <div class="col-md-8 text-muted">{{.Blockhash}}</div>
    </div>
    <div class="row">
            <div class="col-md-4">In Block Height</div>
            <div class="col-md-8 text-muted">{{.Blockheight}}</div>
        </div>
    </div>
<h2>Details</h2>
<div class="value-group">
        {{template "txdetail" .}} {{end}}
</div>